{% load staticfiles %}
<html>

	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

		<title>Dulcie's Blog</title>
	</head>

	<body>
		<div class='header'>
			<div class='container-fluid'>
				<div class='text-left'>
						<div class="main-header">
							<a href='http://frogwoo.pythonanywhere.com/'>
								Dulcie's Blog 
							</a>
						</div>
				</div>

			</div>
					<div class="upper-right">
			<div class='text-right'>
				<a class="new-post" href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
		</div>
		</div>

		<div class='main'>
			{% block content %}
			{% endblock %}			

		</div>
	</body>

</html>