body {
	background-color: #3CA6C9;
	color: #FFFFFF;
	font-family: Roboto,sans-serif;

}
.container-fluid{
    background-color: #8BC4D6;
    border-radius: 20px;
    margin: 2%;
    padding:1%;
    display: inline-block;
    font-weight: bold;
}

.upper-right{
    background-color: #8BC4D6;
    border-radius: 18px;
    margin: 4%;
    padding:10px;
    padding-top: 9px;
    display: inline-block;
    font-weight: bold;
    float:right;
    font-size: 140%;
    clear:none;
}

span {
	color: #FFFFFF;
}
.header a:hover {
	font-weight: bolder;
	text-decoration: none;
}
.main-header a{
	font-size: 32;
	padding-top: -2px;
	float:left;
	color: #FFFFFF;
}


.main {
	clear:both;
}

.post {
	background-color: #8BC4D6;
    border-radius: 20px;
    margin: 15px;
    padding:10px;
}

.post-title {
	background-color: #A8D4E3;
	display:inline-block;
	margin: 3px;
	padding: 10px;
	border-radius: 25px;

	font-weight: bold;
	color: #ffffff;

	float:left;
}

.post-title a , .post-title h1{
	color: #ffffff;
}
.post .post-date {
	font-weight: bold;
	color: #ffffff;	
	float: right;
	font-size: 20;
	padding: 6px;

	background-color: #A8D4E3;
	border-radius: 25px;
}

.main .post .post-text {
	clear: both;
	
}
p {
	font-weight: normal;
	font-size: 105%;
	color: #12617A;
	padding: 5px;
}

